{% extends "base.html" %}

{% block title %}Staff Info{% endblock title %}

{% block content %}

<div class="jumbotron mt-5 mb-5">
    <h1 class="display-4">Dear {{user.first_name}} {{user.last_name}}</h1>
    <p class="lead">Currently you are a Normal User and have no authority to access various functionlities of this website.</p>
    <p class="lead"> you can contact with the Admin of Momoda in order to becoming staff / admin of the webpage </p>
    <hr class="my-4">
    <p></p>
    <form method="POST" action="{% url 'staff_info' %}">
        {% csrf_token %}


            <br/>
            <div class="form-group container">
                <input type="text" class="form-control" placeholder="subject" name="subject" required/>
            </div>

            <br/>

            <!--<div class="form-group container">-->
            <!--        <input type="email" class="form-control" placeholder="email" name="email" required>-->
            <!--</div>-->



            <div class="form-group container">
                <!-- <label for="exampleFormControlTextarea1"></label> -->
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message" name="message" required></textarea>
            </div>

        {% if res %}
        <span>

            Your message has been sent to one of our staff via Email
        </span>
        {% endif %}
        <br/>
        <div class = "d-flex justify-content-center align-items-center">
            <input type="submit" value="submit" class="btn btn-success mt-2 pr-5 pt-2 w-25"/>
        </div>
    </form>
</div>
<br/>

{% endblock content %}